 h2{
        font-size: 2rem;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
html{
    margin-top: 10rem;
    display: block;
    margin:auto;
    text-align: center;
    list-style-position: inside;
}
body{
    display: block;
    margin: auto;
}