body{
    padding: 6rem;
    margin: 5px;
    background-color: aqua;
    margin-left: 10px;
}
.one{
    margin: 5px;
}
.two{
    margin: 5px;
}
.three{
    margin: 5px;
}
.four{
    margin: 5px;
}
#num1{
    margin: 10px;
}
#num2{
    margin: 10px;
}